.footer {
  &_container {
    .content_icons {
      padding-top: 35px;
      padding-bottom: 35px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 70%;
      max-width: 400px;
      margin: 0 auto;
      .youtube {
        background-color: #ffffff26;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          width: 40px;
          padding-top: 5px;
          margin: 0 auto;
          position: relative;
          text-align: center;
        }
      }

      .instagram {
        width: 35px;
        height: 35px;
        background-color: #ffffff26;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          width: 40px;
          padding-top: 5px;
          margin: 0 auto;
          position: relative;
          text-align: center;
        }
      }

      .facebook {
        background-color: #ffffff26;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          width: 20px;
          padding-top: 5px;
          margin: 0 auto;
          position: relative;
          text-align: center;
        }
      }

      .spotify {
        background-color: #ffffff26;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          width: 40px;
          padding-top: 5px;
          margin: 0 auto;
          position: relative;
          text-align: center;
        }
      }
    }

    .content_policy {
      text-align: center;
      display: none;
      padding-bottom: 15px;
    }

    .content_policy a {
      list-style: none;
      color: black;
      font-family: sans-bold;
      font-size: 13px;
    }

    .content_rights {
      text-align: center;
      padding-bottom: 25px;
      font-family: sans-bold;
      font-size: 13px;
    }
  }

  @media (min-width: 750px) {
    &_container {
      display: flex;
      justify-content: space-between;

      padding-bottom: 30px;
      .content_icons {
        order: 2;
        flex: 1 1 30%;
        padding-bottom: 20px;
        justify-content: space-evenly;
        .youtube {
          width: 60px;
          height: 60px;
        }

        .instagram {
          width: 60px;
          height: 60px;
        }

        .facebook {
          width: 60px;
          height: 60px;
        }

        .spotify {
          width: 60px;
          height: 60px;
        }
      }

      @media (hover: hover) {
        .youtube:hover {
          cursor: pointer;
        }
        .facebook:hover {
          cursor: pointer;
        }

        .spotify:hover {
          cursor: pointer;
        }

        .instagram:hover {
          cursor: pointer;
        }
      }

      .content_policy {
        order: 1;
        text-align: start;
        padding-bottom: 0px;
        align-self: flex-end;
      }

      .content_rights {
        flex: 1 1 30%;
        font-size: 16px;
        align-self: flex-end;
        text-align: start;
        padding-bottom: 30px;
      }
    }
  }
}
