.footer {
  &_container {
    .content_icons {
      padding-top: 35px;
      padding-bottom: 35px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 70%;
      max-width: 400px;
      margin: 0 auto;
      .youtube {
        background-color: #ffffff26;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .youtube img {
        width: 60%;
      }
      .instagram {
        background-color: #ffffff26;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .instagram img {
        width: 60%;
        object-fit: cover;
      }
      .facebook {
        background-color: #ffffff26;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .facebook img {
        width: 30%;
      }
      .spotify {
        background-color: #ffffff26;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .spotify img {
        width: 60%;
      }
    }

    @media (hover: hover) {
      .youtube:hover {
        cursor: pointer;
      }
      .facebook:hover {
        cursor: pointer;
      }

      .spotify:hover {
        cursor: pointer;
      }

      .instagram:hover {
        cursor: pointer;
      }
    }

    .content_policy {
      text-align: center;
      padding-bottom: 15px;
    }

    .content_policy a {
      list-style: none;
      color: black;
      font-family: sans-bold;
      font-size: 13px;
    }

    .content_rights {
      text-align: center;
      padding-bottom: 25px;
      font-family: sans-bold;
      font-size: 13px;
    }
  }

  @media (min-width: 750px) {
    &_container {
      display: flex;
      justify-content: space-between;
      padding-bottom: 30px;
      .content_icons {
        order: 2;
        flex: 1 1 30%;
        padding-bottom: 20px;
        justify-content: space-evenly;
        .youtube {
          width: 50px;
          height: 50px;
        }

        .instagram {
          width: 50px;
          height: 50px;
        }

        .facebook {
          width: 50px;
          height: 50px;
        }
        .spotify {
          width: 50px;
          height: 50px;
        }
      }

      .content_policy {
        flex: 1 1 30%;
        order: 1;
        text-align: start;
        padding-bottom: 0px;
        align-self: flex-end;
      }

      .content_rights {
        text-align: start;
        padding-bottom: 0px;
      }
    }
  }
}
