* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//---------------------Fuentes---------------------
@font-face {
  font-family: "sans-bold";
  src: url("/assets/tipofrafía/MYRIADPRO-BOLD/MYRIADPRO-BOLD.OTF")
      format("truetype"),
    url("/assets/tipofrafía/MYRIADPRO-BOLD/MYRIADPRO-BOLD.eot")
      format("eot"),
    url("/assets/tipofrafía/MYRIADPRO-BOLD/MYRIADPRO-BOLD.woff")
      format("woff"),
    url("/assets/tipofrafía/MYRIADPRO-BOLD/MYRIADPRO-BOLD.woff2")
      format("woff2");
}

@font-face {
  font-family: "sans-medium";
  src: url("/assets/tipofrafía/MYRIADPRO-REGULAR/MYRIADPRO-REGULAR.OTF")
      format("truetype"),
    url("/assets/tipofrafía/MYRIADPRO-REGULAR/MYRIADPRO-REGULAR.eot")
      format("eot"),
    url("/assets/tipofrafía/MYRIADPRO-REGULAR/MYRIADPRO-REGULAR.woff")
      format("woff"),
    url("/assets/tipofrafía/MYRIADPRO-REGULAR/MYRIADPRO-REGULAR.woff2")
      format("woff2");
}

@font-face {
  font-family: "sans-semibold";
  src: url("/assets/tipofrafía/MYRIADPRO-SEMIBOLD/MYRIADPRO-SEMIBOLD.OTF")
      format("truetype"),
    url("/assets/tipofrafía/MYRIADPRO-SEMIBOLD/MYRIADPRO-SEMIBOLD.eot")
      format("eot"),
    url("/assets/tipofrafía/MYRIADPRO-SEMIBOLD/MYRIADPRO-SEMIBOLD.woff")
      format("woff"),
    url("/assets/tipofrafía/MYRIADPRO-SEMIBOLD/MYRIADPRO-SEMIBOLD.woff2")
      format("woff2");
}

body {
  overflow-x: hidden;
  font-family: "sans-medium";
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d81a46;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

img {
  width: 100%;
}
.containerAll {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.lyrics {
  transition: 0.5s all;
}

.scaleAnimation {
  transform: scale(1.1);
}

.contet_button {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  button {
    border: none;
    background: none;
    background-image: url("/assets/boton.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    color: white;
    font-family: sans-medium;
    letter-spacing: 4px;
    width: 170px;
    height: 60px;
    transition: 0.5s ease;
  }

  @media (hover: hover) {
    button:hover {
      cursor: pointer;
      transition: 0.5s ease;
      transform: scale(1.2);
    }
  }
}

@media (min-width: 750px) {
  .contet_button {
    button {
      height: 70px;
    }
  }
}
