&_earlyBird {
  &_container {
    .header h1 {
      margin-top: 100px;
      font-size: 20px;
      font-family: sans-bold;
      letter-spacing: 4px;
    }

    .header p {
      margin-top: 10px;
      font-size: 12px;
      font-family: sans-medium;
      width: 80%;
      letter-spacing: 4px;
    }

    .content_inputs {
      margin-top: 50px;
    }
    .input {
      padding: 20px 0px;
      position: relative;
      max-width: 400px;
      margin: 0 auto;
    }

    .input input, .input select {
      font-family: sans-medium;
      letter-spacing: 4px;
      width: 100%;
      background-color: #ffffff5c;
      font-size: 12px;
      height: 40px;
      border: 1px white solid;
      padding: 10px;
      margin: 0 auto;
    }

    .input label {
      color: black;
      font-size: 12px;
      font-family: sans-semibold;
      letter-spacing: 4px;
      display: block;
      position: absolute;
      top: 0;
    }
  }

  @media (min-width: 750px) {
    &_container {
      margin-top: 150px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      .header h1 {
        width: 80%;
        margin-top: 0px;
        font-size: 32px;
      }

      .header p {
        font-size: 16px;
      }

      .content_inputs {
        margin-top: 0px;
      }

      .header {
        flex: 1 1 50%;
      }

      .content_flex {
        flex: 5 1 50%;
      }
    }
  }
}
