&_galeria {
  position: relative;
  overflow: hidden;

  .lyrics {
    font-family: sans-medium;
    letter-spacing: 4px;
    font-size: 12px;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    p {
      padding-right: 10px;
    }
    img {
      width: 20px;
    }
  }

  &_images {
    display: flex;
    flex-wrap: wrap-reverse;
    max-width: 600px;
    img {
      display: block;
    }
    .imagen {
      position: relative;
      width: 45%;
      margin-bottom: 20px;
      max-width: 400px;
    }

    .marco {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
    }

    .imagen_back {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      left: 0;
      object-fit: cover;
    }

    .imagen:nth-child(1) {
      margin-right: 10px;
    }
  }

  &_images_2 {
    justify-content: flex-end;

    .imagen:nth-child(2) {
      margin-right: 10px;
    }

  }
}
